<div id="<%= dom_id consultum %>">
  <p>
    <strong>Data:</strong>
    <%= consultum.data %>
  </p>

  <p>
    <strong>Horário:</strong>
    <%= consultum.horario %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consultum.Paciente.nomeCompleto %>
  </p>

  <p>
    <strong>Médico:</strong>
    <%= consultum.Medico.nomeCompleto %>
  </p>

</div>
